<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Statistics</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="stats-summary">
        <ion-card>
            <ion-card-content>
                <div class="stat-item">
                    <h3>{{ totalCompleted }}</h3>
                    <p>Total Completed</p>
                </div>
                <div class="stat-item">
                    <h3>{{ currentStreak }}</h3>
                    <p>Current Streak</p>
                </div>
                <div class="stat-item">
                    <h3>{{ avgSuccess }}%</h3>
                    <p>Avg. Success</p>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div class="chart-container">
        <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
            [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!"
            [plotOptions]="chartOptions.plotOptions!" [theme]="chartOptions.theme!" [title]="chartOptions.title!">
        </apx-chart>
    </div>

    <ion-list lines="none" *ngIf="earnedAchievements.length > 0; else noAchievements">
        <ion-list-header>
            <ion-label>Achievements</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let achievement of earnedAchievements">
            <ion-icon [name]="achievement.icon" slot="start" [color]="achievement.color"></ion-icon>
            <ion-label>
                <h3>{{ achievement.title }}</h3>
                <p>{{ achievement.description }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ng-template #noAchievements>
        <div class="ion-padding ion-text-center no-achievements">
            <ion-icon name="medal-outline" color="medium"></ion-icon>
            <p>Complete more routines to unlock achievements!</p>
        </div>
    </ng-template>
</ion-content>