ion-item {
    --padding-start: 0;
    margin-bottom: 10px;
}

ion-list-header {
    --padding-start: 0;
    margin-top: 20px;

    ion-label {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--ion-color-primary);
    }
}

ion-datetime-button {
    margin-top: 10px;
}

ion-range {
    padding-top: 10px;
}

form {
    padding-bottom: 40px;
}